$primary-color: rgb(114,213,74);
$secondary-color: rgb(52,158,73);
$gray: #7D858B;
$content-width: 80%;
$max-width: 1500px;
$inner-content-width: 60%;
$inner-content-max-width: 1000px;
$accordion-width: 50%;
$accorion-max-width: 840px;
$gradient-gray: linear-gradient(to right, rgb(239,240,241) 0%, white 100%);